/* AboutPage.css */

.about-us-wrapper {
  background-color: #ECECEC; /* Светлый фон страницы */
  padding: 40px 20px;
  font-family: 'Georgia', 'Times New Roman', serif; /* Шрифт для текста */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF; /* Белый фон для контейнера */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 36px;
  color: #2A2A28; /* Темный цвет для заголовка */
  margin-bottom: 20px;
  text-align: center;
}

.section {
  margin-bottom: 30px;
}

.subtitle {
  font-size: 24px;
  color: #2A2A28; /* Темный цвет для подзаголовка */
  margin-bottom: 15px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 24px; /* Размер иконок */
  color: #024F37; /* Цвет иконок соответствует цвету футера */
}

.contact-item span {
  font-size: 16px;
  color: #2A2A28; /* Темный цвет для текста контактов */
}

strong {
  color: #024F37; /* Цвет для выделения текста соответствует цвету футера */
}
