/* src/Styles/CheckoutPage.css */
.checkout-page {
  max-width: 600px;
  margin: auto;
  padding: 20px; /* Светлый фон страницы оформления заказа */
}

.checkout-page h2 {
  text-align: center;
  color: #024F37; /* Изумрудный цвет для заголовков */
}

.checkout-page form {
  display: flex;
  flex-direction: column;
}

.checkout-page label {
  margin-bottom: 15px;
}

.checkout-page input[type="text"], 
.checkout-page select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkout-page .order-summary {
  margin-top: 20px;
}

.checkout-page .order-summary h3 {
  margin-bottom: 10px;
  color: #024F37; /* Изумрудный цвет для заголовка сводки заказа */
}

.checkout-page .order-summary .cart-items {
  margin-top: 10px;
}

.checkout-page .order-summary .cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}

.checkout-page label input[type="checkbox"] {
  margin-right: 10px;
}

.checkout-page .order-success {
  text-align: center;
  padding: 20px;
  background-color: #ECECEC; /* Светлый фон для успешного сообщения */
  color: #024F37; /* Изумрудный цвет для текста успешного сообщения */
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

.checkout-page button {
  background-color: #024F37; /* Изумрудный цвет для кнопок */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-page button:hover {
  background-color: #1f6b5f; /* Цвет кнопки при наведении */
}
