.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.admin-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #024F37; /* Изумрудный цвет для кнопки */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.admin-button:hover {
  background-color: #024F37; /* Цвет кнопки при наведении */
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  border-radius: 10px;
}

.product-card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.add-product-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #024F37; /* Изумрудный цвет для кнопки */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-product-button:hover {
  background-color: #024F37; /* Цвет кнопки при наведении */
}
/* Styling for the Details button */
.view-details-btn {
  display: inline-block; /* Ensures the button behaves like a block element */
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #024F37; /* Emerald color for the button */
  color: white;
  text-decoration: none; /* Removes underline from the link */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.view-details-btn:hover {
  background-color: #024F37; /* Slightly lighter emerald color on hover */
}

/* Ensure the cart button styling */
.cart-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #024F37; /* Same emerald color for consistency */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.cart-button:hover {
  background-color: #024F37; /* Slightly lighter emerald color on hover */
}
