.product-page {
  background-color: #ECECEC; /* Цвет фона страницы */
  min-height: 100vh;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  padding: 0;
}

.product-card-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; 
}

.product-image-section {
  flex: 1;
  padding: 10px;
}

.product-image-section img {
  width: 100%; 
  height: auto; /* Пропорциональная высота изображения */
  border-radius: 10px;
}

.product-info-section {
  flex: 2;
  padding: 10px;
}

.product-info-section h2 {
  margin: 10px 0;
  color: #024F37; /* Изумрудный цвет для заголовков */
}

.product-info-section p {
  margin: 5px 0;
  color: #333; /* Тёмно-серый цвет для текста */
}

.product-actions {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
}

.like-button, .cart-button, .back-button {
  border: 1px solid #024F37; /* Изумрудный цвет для границы */
  border-radius: 8px;
  padding: 8px 10px;
  background: none; 
  color: #024F37; /* Изумрудный цвет для текста */
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-button:hover, .cart-button:hover, .back-button:hover {
  background-color: #d8f5e1; /* Светло-зелёный цвет для фона при наведении */
}

.like-button span, .cart-button span {
  margin-right: 5px;
}
