.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  width: 300px; 
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

.product-card .product-info {
  padding: 15px;
}

.product-card .product-info h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
  color: #024F37; /* Изумрудный цвет для заголовков */
}

.product-card .product-info p {
  margin: 0 0 10px;
  color: #555;
}

.product-card .product-price {
  font-weight: bold;
  color: #024F37; /* Изумрудный цвет для цены */
}
